<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <% messages.forEach(message => { %>
      <div class="message">
        <p><strong>User:</strong> <%= message.user %></p>
        <p><strong>Message:</strong> <%= message.text %></p>
        <p><strong>Date:</strong> <%= message.added.toLocaleString() %></p>
      <a href="/message/<%=message.id%>">Open</a>
      </div>
    <% }) %>
    <a href="/new">New Message</a>
  </body>
</html>

